body {
    background-color: rgba(255, 255, 255, 0.801);
}
header {
    width: 100%;
    height: 80px;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    background-image: url(../image/logo.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 50px;
}

.hd-0 {
    width: 600px;
    height: 20px;
    
    
}
a {
    color: blueviolet;
}

nav ul  {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    
}


.hd-1 {
    background-color: greenyellow;
    font-size: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.hd-1:hover {
    background-color: white;
}

.img-1 {
    width: 24px;
    height: 24px;
    background-image: url(../image/dropdown\ icon.png);
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 10px;
}

/*MAIN SECTION*/

main {
    width: 100%;
    height: 800px;
    position: relative;
    left: 250px;
}
.hd-3 {
    width: 850px;
    height: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    text-align:center ;
    padding-top: 50px;
}
h1{
    font-size: larger;
}

h2 {
    width: fit-content;
    font-size: larger;
    word-spacing: 20px;
}

.hd-4 {
    width: 700px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-style: italic;
    position: relative;
    left: 50px;
    word-spacing: 5px;
}

.hd-5 {
    width: 500px;
    height: 80px;
    display: flex;
    position: relative;
    left: 150px;
    align-items: center;
    padding-left: 160px;
    column-gap: 40px;
}

.h1 {
    width: 250px;
    height: 40px;
    background-color: greenyellow;
    position: relative;
    right: 50px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}

.h1:hover {
    background-color: white;
}

.h2:hover {
    background-color:greenyellow ;
}

.h2 {
    width: 250px;
    height: 40px;
    background-color: lightgrey;
    position: relative;
    right:50px ;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    border-color: greenyellow;
}
.hd-6 {
    width: 1150px;
    height: 500px;
    position: relative;
    right: 100px;
}


/*.image-4 {
    background-repeat: no-repeat;
    width: 1100px;
    height: 500px;
    margin-right: 800px;
} */
/*MOBILE VERSION*/

@media (max-width:600px) {
    
    header {
        width: 100%;
    }

    .logo {
        background-image: url(../image/logo.png);
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 50px;
        margin-left: 30px;
    }
    
    .hd-0 {
        display: none;
        
        
    }

    /*main section*/

    main {
        width: 100%;
        position: relative;
        left:0px;
        height: 600px;
        
    }

    .hd-3 {
    width: 100%;
    height: 200px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center ;
    padding-top: 30px;
    }

    .hd-4 {
        width: 100%;
        height: 180px;
        text-align: center;
        padding-top: 20px;
        font-style: italic;
        position: relative;
        left:0px;
        word-spacing: 10px;
        font-size: 20px;
        
    }

    .hd-5 {
        width: 100%;
        height: 80px;
        position: relative;
        left:0px;
        right: 50px;
        align-items: center; 
    }


    .hd-6 {
        width: 100%;
        height: 400px;
        position: relative;
        left:0px;
    }

    .image-4 {
        width: 100%;
        height: 380px;
    }

    h1:hover {
        background-color: white;
    }
    
    .h2:hover {
        background-color:greenyellow ;
    }
    
    
    
}
